
// Colors

$color-primary: #6C5DD3;
$color-secondary: #3345D7;
$color-tertiary: #2E86DE;
$color-alt: #8275DA;
$color-alt-2: #7583DE;
$color-alt-3: #341F97;
$color-alt-4: #5A49CE;

$color-dark-primary: #222F3E;
$color-dark-secondary: #292930;
$color-dark-tertiary: #11142D;
$color-dark-alt: #00000099;

$color-light-primary: #FFFFFF;
$color-light-secondary: #F4F5F7;
$color-light-tertiary: #F7F7F7;
$color-light-alt: #F6F7F9;
$color-light-alt-2: #AEDDEB;
$color-light-alt-3: #FEFEFE;

$color-grey-primary:  #707070;
$color-grey-secondary: #687281;
$color-grey-tertiary: #C8D6E5;
$color-grey-alt: #8395A7;
$color-grey-alt-2: #4A545E;
$color-grey-alt-3: #576574;

$color-extra-primary:  #EE5253;
$color-extra-secondary: #10AC84;


// Font

$font-size-xl: 3rem;
$font-size-lg: 2.4rem;
$font-size-default: 1.4rem;
$font-size-md: 1.2rem;
$font-size-sm: 1.1rem;
$font-size-xs: 1rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;