
/* For good practices, any style related to fonts, are not applied on universal selector,
they shoud be applied on the body, it's more efficient thanks to body inheritance to all
the others elements */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: $color-dark-primary;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.9rem;
}
